/* Reset Password Page Styles */
.forgot-password-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.reset-password-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin-top: -200px;
}

.reset-password-title {
  color: #333;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-button {
  padding: 10px;
  background-color: #0da955;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: #60e290;
}

/* Responsive Styles */
@media (max-width: 400px) {
  .reset-password-container {
    width: 90%;
  }
}
